/* Main CSS - Imports all modular stylesheets */

@import url('variables.css');
@import url('navigation.css');
@import url('components.css');
@import url('home.css');
@import url('category.css');
@import url('cart.css');
@import url('footer.css');
@import url('responsive.css');

/* Notification Animations */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100px);
    }
}
